@import "../../../styles/palette.scss";

.footer {
  margin-top: auto;
  padding: 20px;
  background-color: $dark-grey;
  &__link {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
