.task-list {
  width: 80%;
  margin: auto;
  max-width: 550px;

  &_menu-opened {
    white-space: nowrap;
    margin-left: 50px;
    width: auto;
  }

  &__item {
    margin: 10px 0;
    display: block;
  }

  &__text {
    margin-left: 10px;
  }

  &__input {
    border: none;
    background-color: inherit;
    caret-color: white;
    color: white;
    font-size: inherit;
    width: 100%;
    font-style: italic;
    margin-left: 10px;

    &:focus {
      outline: none;
    }
  }

  &__edit-icon {
    margin-left: auto;
    cursor: pointer;
  }

}

@media (min-width: 900px) {
  .task-list_menu-opened {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}
