<div class="tasks-page" [ngClass]="{ 'tasks-page_menu-opened':  sidenavOpened }">

  <mat-icon class="tasks-page__menu-icon tasks-page__icon" [matMenuTriggerFor]="menu">more_horiz</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="refreshTasks()">
      <mat-icon>refresh</mat-icon>
      refresh tasks
    </button>
    <button mat-menu-item (click)="showInput = true">
      <mat-icon>add</mat-icon>
      add a task
    </button>
  </mat-menu>

  <div class="tasks-page__list">

    <app-list-card class="tasks-page__item" *ngIf="showInput">
      <input
        type="text"
        class="tasks-page__input"
        placeholder="add a task"
        [formControl]="newTask"
        (keyup.enter)="onSubmit()">
      <mat-icon class="tasks-page__icon" (click)="showInput = false">cancel</mat-icon>
    </app-list-card>

    <app-list-card
      class="tasks-page__item"
      [ngClass]="{ 'tasks-page__item_checked': task.checked && selectedTask?.id !== task.id }"
      *ngFor="let task of tasks; trackBy: trackByTasks">
      <mat-checkbox [checked]="task.checked" (change)="checkTask($event, task)"></mat-checkbox>
      <span class="tasks-page__text" *ngIf="selectedTask?.id !== task.id">{{ task.text }}</span>

      <input
        class="tasks-page__input"
        autofocus
        *ngIf="selectedTask?.id === task.id"
        [formControl]="taskToEdit"
        (keyup.enter)="editTask(task)">

      <mat-icon class="tasks-page__edit-icon tasks-page__icon" (click)="selectTask(task)">edit</mat-icon>
    </app-list-card>
  </div>

</div>
