.tasks-page {
  width: 80%;
  margin: auto;
  max-width: 550px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__list {
    overflow: auto;
  }

  &__icon {
    cursor: pointer;
  }

  &__menu-icon {
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &_menu-opened {
    white-space: nowrap;
    margin-left: 50px;
    width: auto;
  }

  &__item {
    margin-bottom: 10px;
    display: block;

    &_checked {
      opacity: .12;

      &:hover {
        opacity: 1;
      }
    }

    &:hover .tasks-page__edit-icon {
      display: block;
    }
  }

  &__text {
    margin-left: 10px;
  }

  &__input {
    border: none;
    background-color: inherit;
    caret-color: white;
    color: white;
    font-size: inherit;
    width: 100%;
    font-style: italic;
    margin-left: 10px;

    &:focus {
      outline: none;
    }
  }

  &__edit-icon {
    margin-left: auto;
    display: none;
    height: 19px;
    width: 19px;
    font-size: 19px;
  }

}

@media (min-width: 900px) {
  .tasks-page_menu-opened {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 500px) {
  .tasks-page__menu-icon {
    position: absolute;
    top: 20px;
    right: -40px;
    transform: rotate(90deg);
  }

  .tasks-page__list {
    margin-top: 30px;
  }
}
