<div class="task-list" cdkDropList (cdkDropListDropped)="drop($event)">
  <app-card
    *ngFor="let task of tasks; trackBy: trackByTasks"
    cdkDrag
    class="task-list__item"
    [color]="getColor(task.checked)">
    <div>
      <mat-checkbox [checked]="task.checked" (change)="checkTask($event, task)"></mat-checkbox>
      <span class="task-list__text" *ngIf="selectedTask?.id !== task.id" [ngClass]="getClass(task.checked)">
      {{ task.text }}
    </span>
    </div>
    <input class="input"
      autofocus
      *ngIf="selectedTask?.id === task.id"
      [formControl]="taskToEdit"
      (keyup.enter)="editTask(task)">

    <div class="task-list__icons">
      <mat-icon matTooltip="edit" class="task-list__edit-icon task-list__icon" (click)="selectTask(task)">
        edit
      </mat-icon>
      <mat-icon class="task-list__icon" matTooltip="delete" (click)="deleteTask(task)">
        cancel
      </mat-icon>
    </div>
    <mat-icon cdkDragHandle matTooltip="drag" class="task-list__drag-handle">drag_indicator</mat-icon>
  </app-card>
</div>
