@import "../../styles/palette.scss";

.list-item {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: $light-grey;

  &:hover {
    background-color: #393838
  }

  &__text {
    margin-left: 15px;
    width: 100%;
    overflow: hidden;
  }
}
