@import "../../../styles/palette.scss";

.sidenav {
  flex: 1;
  background-color: inherit;
  color: white;
  &__menu {
    padding: 20px;
    width: 300px;
    height: 100%;
    color: inherit;
    background-color: $light-grey;
  }
  &__content {
    padding: 20px;
  }
}
