@import "../../../../styles/palette";

.footer {
  background-color: $dark-grey;
  height: 50px;
  display: flex;
  align-items: center;

  &__rights {
    margin-left: 20px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 599px) {
  .footer {
    height: 45px;
  }
}
