@import "../../styles/palette.scss";

.list-item {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  background-color: $light-grey;

  &:hover {
    background-color: #393838
  }

  &__content {
    width: 100%;
  }
}
