<div class="task-list" [ngClass]="{ 'task-list_menu-opened':  sidenavOpened }">
  <app-list-card class="task-list__item">
    <input type="text" autofocus
           class="task-list__input"
           placeholder="add a task"
           [formControl]="newTask"
           (keyup.enter)="onSubmit()">
  </app-list-card>
  <app-list-card class="task-list__item" *ngFor="let task of tasks">
    <mat-checkbox [checked]="task.checked" (change)="onCheck($event, task)"></mat-checkbox>
    <span class="task-list__text">{{ task.text }}</span>
  </app-list-card>
</div>
