@import "../../../../styles/palette";

.sidenav {
  background-color: inherit;
  color: white;
  display: flex;
  height: 100%;

  &__menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px;

    &:hover {
      color: $grey-hover;
    }
  }

  &__content {
    width: 100%;
    overflow: hidden;
  }
}

