/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "app/styles/palette";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}

.input {
  border: none;
  background-color: inherit;
  caret-color: white;
  color: white;
  font-size: inherit;
  width: 100%;
  font-style: italic;
  margin-left: 10px;

  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 10px;
}
