<div class="tasks-page" [ngClass]="{ 'tasks-page_menu-opened': sidenavOpened }">
  <app-task-toolbar (inputToggled)="showInput = !showInput" class="tasks-page__toolbar"></app-task-toolbar>

  <app-card class="tasks-page__card" *ngIf="showInput" [color]="'#424242'">
    <input
      type="text"
      class="input"
      placeholder="add a task"
      [formControl]="newTask"
      (keyup.enter)="onSubmit()">
    <mat-icon class="tasks-page__icon" (click)="showInput = false">cancel</mat-icon>
  </app-card>

  <app-task-list class="tasks-page__list"></app-task-list>
</div>
